/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --border-bottom-transparent: rgba(0,0,0,0.3);
    --background-color: rgb(215, 254, 255);
    --link-visited: #05676e;
    --link-active: #489c79;
    --grid-background-color: #ffe5ad;
    --white: white;
    --dark-grey: #2b2b2b;
   

    --spacing-small: 10px;
    --spacing-large: 20px;
    --margin-center: 0 auto;

    --sun-color-0: #edc655;
    --sun-color-50: #fcffad;
    --sun-color-100: #f76414;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family:'Roboto Slab', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    background-color:var(--background-color);
}

h1 {
    font-weight: 700;
    font-size: 32px;
    text-decoration: underline;
}

header {
    border-bottom: 1px solid var(--primary-color);
}

main {
    padding-top: var(--spacing-small);
}

a {
    color: var(--primary-color);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

a:hover, a:focus {
    text-decoration: none;
    opacity: 0.7;
}

a:visited {
    color: var(--link-visited);
}

a:active {
    color: var(--link-active);
}

button, .button, .submit-button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    padding: var(--spacing-small);
    border-radius: 3px;
    border-bottom: 2px solid var(--border-bottom-transparent);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

button:hover, button:focus, .button:hover, .button:focus, .submit-button:hover, .submit-button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button:visited {
    color: var(--white);
}

.button_secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
}

.submit-button {
    width: 200px;
    margin: var(--spacing-large) auto;
}

.navigation-list__item, .img-link {
    text-decoration: none;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.logo {
    width: 200px;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.profile {
    max-width: 700px;
    margin: var(--margin-center);
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: var(--spacing-large);
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block; 
    margin-left: 15px;
}

.about-content, #casestudy-content{
    max-width: 800px;
    margin: var(--margin-center);
    padding-bottom: 20px;
    border-bottom: 1px solid #05676e;
}

.about-content h1, section h1 {
    max-width: 100px;
    margin: var(--margin-center);
}

#casestudy-heading {
    text-align: center;
}

#casestudy-content h3 {
    margin-bottom: 0px;
}

#casestudy-content p {
    margin-top: 0px;
}

.casestudy-block {
    display: flex
}

#skills {
    display: flex;
}

section h1 {
    padding: var(--spacing-small);
}

.about-content table {
    padding-top: 10px;
    max-width: 700px;
    margin: var(--margin-center);
    text-align: center;
}

th {
    width: 200px;
}

form {
    margin-top: var(--spacing-large);
}

.contact-content {
    max-width: 750px;
    margin: var(--margin-center);
    text-align: center;
}

.contact-content p{
    text-align: left;
}

.contact-content__message {
    margin-top: var(--spacing-large);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

section {
    max-width: 1000px;
    margin: var(--margin-center);
}

.button {
    display: block;
    max-width: 250px;
    margin: var(--spacing-large) auto;
    text-align: center;
}

/* grid fallback - start */
.grid_item {
    display: inline-block;
    width: 33%;
}
/* grid fallback - end */

/* checks to see if the browser supports grid display - if it does, this overrides the fallback */
@supports (display:grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr var(--spacing-large) 1fr var(--spacing-large) 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: var(--spacing-large);
    }
    
    .grid__item {
        width: auto;
        min-height: auto;
        background-color: var(--grid-background-color);
        padding: var(--spacing-small);
    }
    
    .grid__img {
        width: 100%;
    }
}

/* responsive design - media queries */
@media all and (max-width: 500px) {
    .logo {
        width: 50%;
        height: 50%;
        margin: auto;
    }

    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr var(--spacing-large) 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: var(--spacing-small);
    }

    .casestudy-block {
        display: block
    }

    h1 {
        font-size: 22px;
    }
}